.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #adadad50;
  z-index: 1;
}
.modal {
  border-radius: 5px;
  background-color: white;
  padding: 2rem;
  width: 40rem;
}

.close {
  cursor: pointer;
}
.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}
.modal-content {
  margin-bottom: 2rem;
}
.modal-footer {
  display: flex;
  justify-content: space-evenly;
}
.modal-btn {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
