* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif !important;
}
.App {
	min-height: 100vh;
	width: 85vw;
	max-width: 1900px;
	margin: 0rem auto;
}

img {
	max-width: 100%;
	height: auto;
}
.home-banner-container {
	position: relative;
	display: flex;
}
.home-bannerImage-container {
	position: absolute;
	top: -100px;
	right: -170px;
	z-index: -2;
	max-width: 700px;
}
.home-image-section {
	flex: 1;
}
.home-text-section {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
}
.home-heading {
	font-size: clamp(2rem, 5vw, 3.5rem);
	font-weight: 600;
	color: #000000;
	max-width: 600px;
}
.home-primary-text {
	font-size: clamp(1rem, 3vw, 1.3rem);
	max-width: 500px;
	color: #000000;
	margin: 1.5rem 0rem;
}

@media (max-width: 1000px) {
	.home-bannerImage-container {
		max-width: 600px;
	}
}
@media (max-width: 800px) {
	.home-bannerImage-container {
		max-width: 450px;
	}
	.home-banner-container {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}
	.home-image-section {
		width: 100%;
		max-width: 400px;
	}
	.home-heading {
		text-align: center;
		max-width: 90%;
	}
	.home-primary-text {
		text-align: center;
		max-width: 80%;
	}
	.home-text-section {
		justify-content: center;
		align-items: center;
		margin-top: 4rem;
	}
	.App {
		max-width: 95vw;
	}
}

@media (max-width: 600px) {
	.home-bannerImage-container {
		display: none;
	}
}
